<a href="https://colab.research.google.com/github/Risad-Raihan/10ms/blob/master/Credit_limit_calculation3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

In [4]:
df1= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/customer_info_1.csv')

In [5]:
df1.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.0,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1
1,AP0180002698,0008592,Green Smart Shirts Ltd.,Male,Islam,17000.0,0.00,2021-09-13,Cutter,1,ARIFA KHATUN,1.911634e+09,2024-04-25,1
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,0.0,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,0.0,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,0.0,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1

In [6]:
df2= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/customer_info_2.csv')

In [7]:
df2.head(5)

  HR_Code                      DOB  family_member
0  018890  1974-12-12 00:00:00.000              1
1  018891  1989-03-25 00:00:00.000              1
2  018918  1982-08-10 00:00:00.000              1
3  018920  1983-04-01 00:00:00.000              1
4  018928  1980-05-04 00:00:00.000              1

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130478 entries, 0 to 130477
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         130478 non-null  object
 1   HR_Code           130478 non-null  object
 2   Outlet_Name       130478 non-null  object
 3   Gender            109596 non-null  object
 4   Religion          43342 non-null   object
 5   Monthly_Salary    130478 non-null  float64
 6   Credit_Limit      130476 non-null  float64
 7   Joining_Date      130456 non-null  object
 8   Designation       126635 non-null  object
 9   IsRegisteredUser  130478 non-null  int64
 10  Customer_Name     130478 non-null  object
 11  Login_Id          3048 non-null    float64
 12  Registered_Date   3048 non-null    object
 13  isActive          130478 non-null  int64
dtypes: float64(3), int64(2), object(9)
memory usage: 13.9+ MB

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130288 entries, 0 to 130287
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   HR_Code        130288 non-null  object
 1   DOB            130276 non-null  object
 2   family_member  130288 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.0+ MB

In [10]:
import pandas as pd

# Assuming df1 and df2 are your dataframes
merged_df5 = pd.merge(
    df1,
    df2[['HR_Code', 'DOB', 'family_member']],
    on='HR_Code',
    how='left'
)

In [11]:
merged_df5.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.0,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1,1972-03-15 00:00:00.000,0.0
1,AP0180002698,0008592,Green Smart Shirts Ltd.,Male,Islam,17000.0,0.00,2021-09-13,Cutter,1,ARIFA KHATUN,1.911634e+09,2024-04-25,1,NaN,NaN
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,0.0,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1,1968-12-31 00:00:00.000,1.0
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,0.0,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1,1981-06-10 00:00:00.000,1.0
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,0.0,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1,1978-11-10 00:00:00.000,1.0

In [12]:
import pandas as pd
from datetime import datetime

# Assuming merged_df is your dataframe and Joining_Date is in string format, first convert it to datetime if needed
merged_df5['Joining_Date'] = pd.to_datetime(merged_df5['Joining_Date'], errors='coerce')

# Get today's date
today = pd.Timestamp(datetime.today())

# Calculate the difference in months and create a new column called 'Tenure'
merged_df5['Tenure'] = (today.year - merged_df5['Joining_Date'].dt.year) * 12 + (today.month - merged_df5['Joining_Date'].dt.month)

# Fill NaN values with 0 (in case of missing Joining_Date values)
merged_df5['Tenure'] = merged_df5['Tenure'].fillna(0).astype(int)

In [19]:
merged_df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         142111 non-null  object
 1   HR_Code           142111 non-null  object
 2   Outlet_Name       142111 non-null  object
 3   Gender            119557 non-null  object
 4   Religion          51131 non-null   object
 5   Monthly_Salary    142111 non-null  float64
 6   Credit_Limit      142109 non-null  float64
 7   Joining_Date      142088 non-null  datetime64[ns]
 8   Designation       138144 non-null  object
 9   IsRegisteredUser  142111 non-null  int64
 10  Customer_Name     142111 non-null  object
 11  Login_Id          3201 non-null    float64
 12  Registered_Date   3201 non-null    object
 13  isActive          142111 non-null  int64
 14  DOB               141990 non-null  object
 15  family_member     142003 non-null  float64
 16  Tenure            142111 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 18.4+ MB

In [ ]:
import pandas as pd
import numpy as np

# Assuming merged_df is your dataframe

# Update the Monthly_Salary where it's 0 or NaN
merged_df['Monthly_Salary'] = np.where(
    (merged_df['Monthly_Salary'].isna()) | (merged_df['Monthly_Salary'] == 0),
    merged_df['Credit_Limit'] * 3,
    merged_df['Monthly_Salary']
)

In [ ]:
import pandas as pd
from datetime import datetime

# Assuming merged_df is your dataframe and Joining_Date is in string format, first convert it to datetime if needed
merged_df['Joining_Date'] = pd.to_datetime(merged_df['Joining_Date'], errors='coerce')

# Get today's date
today = pd.Timestamp(datetime.today())

# Calculate the difference in months and create a new column called 'Tenure'
merged_df['Tenure'] = (today.year - merged_df['Joining_Date'].dt.year) * 12 + (today.month - merged_df['Joining_Date'].dt.month)

# Fill NaN values with 0 (in case of missing Joining_Date values)
merged_df['Tenure'] = merged_df['Tenure'].fillna(0).astype(int)

In [ ]:
merged_df.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.00,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1,1972-03-15 00:00:00.000,0.0,303
1,AP0180002698,0008592,Green Smart Shirts Ltd.,Male,Islam,17000.00,0.00,2021-09-13,Cutter,1,ARIFA KHATUN,1.911634e+09,2024-04-25,1,NaN,NaN,36
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,118125.00,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1,1968-12-31 00:00:00.000,1.0,220
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,32512.05,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1,1981-06-10 00:00:00.000,1.0,220
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,25213.95,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1,1978-11-10 00:00:00.000,1.0,219

In [ ]:
df3= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/c_october.csv')

<ipython-input-15-53b9ad3d6387>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df3= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/c_october.csv')

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130383 entries, 0 to 130382
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Outlet                   130383 non-null  object
 1   APON Code                130383 non-null  object
 2   Name                     130383 non-null  object
 3   HR Code                  130383 non-null  object
 4   Marital Status           130383 non-null  int64
 5   Number of Family Member  130383 non-null  int64
 6   Address                  130371 non-null  object
 7   Contact Number           127813 non-null  object
 8   Email                    1881 non-null    object
 9   Gender                   109451 non-null  object
 10  NID                      7866 non-null    object
 11  DOB                      161 non-null     object
 12  Department               118354 non-null  object
 13  Designation              126560 non-null  object
 14  Joining Date             130379 non-null  object
 15  Gross Salary             130383 non-null  float64
 16  Credit Limit             130361 non-null  float64
 17  isActive                 130383 non-null  int64
 18  dteLastActionDateTime    130383 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 18.9+ MB

In [ ]:
import pandas as pd

# Rename the 'APON Code' column in df3 to 'APON_Code'
df3 = df3.rename(columns={'APON Code': 'APON_Code'})

# Now perform the merge
merged_df1 = pd.merge(
    merged_df,
    df3[['APON_Code', 'Contact Number']],
    on='APON_Code',
    how='left'
)

In [ ]:
merged_df1.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.00,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1,1972-03-15 00:00:00.000,0.0,303,01884551165
1,AP0180002698,0008592,Green Smart Shirts Ltd.,Male,Islam,17000.00,0.00,2021-09-13,Cutter,1,ARIFA KHATUN,1.911634e+09,2024-04-25,1,NaN,NaN,36,01911633557
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,118125.00,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1,1968-12-31 00:00:00.000,1.0,220,01713432236
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,32512.05,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1,1981-06-10 00:00:00.000,1.0,220,01718415560
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,25213.95,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1,1978-11-10 00:00:00.000,1.0,219,01911085098

In [ ]:
df_angel= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/annesha_bokachoda.csv')

In [ ]:
df_angel.head(5)

,Shop name,Customer Code,Customer Name,HR Code,L4M SS Count,Purchase amount,Tenure,Mobile Number,Present address,Number of family Member,Gender,DOB,Joining Date
0,Renaissance Apparels Ltd.,AP0030000001,Jakir Hossain Bhuan,10011,4,26575.0,NaN,NaN,NaN,1,NaN,NaN,NaN
1,Renaissance Apparels Ltd.,AP0030000002,Md. Guljar Hossain Chowdury,10018,3,2673.0,NaN,NaN,NaN,1,NaN,NaN,NaN
2,Renaissance Apparels Ltd.,AP0030000003,Mohammad Sanowarul Islam,10027,4,16674.0,NaN,NaN,NaN,1,NaN,NaN,NaN
3,Renaissance Apparels Ltd.,AP0030000006,Mahfuza Akter,NaN,3,2160.0,NaN,NaN,NaN,1,NaN,NaN,NaN
4,Renaissance Apparels Ltd.,AP0030000008,Mst. Suma Khatun,NaN,4,2682.0,NaN,NaN,NaN,1,NaN,NaN,NaN

In [ ]:
df_angel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5576 entries, 0 to 5575
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Shop name                5576 non-null   object
 1   Customer Code            5576 non-null   object
 2   Customer Name            5576 non-null   object
 3   HR Code                  5169 non-null   object
 4   L4M SS Count             5576 non-null   int64
 5   Purchase amount          5576 non-null   float64
 6   Tenure                   0 non-null      float64
 7   Mobile Number            0 non-null      float64
 8   Present address          0 non-null      float64
 9   Number of family Member  5576 non-null   int64
 10  Gender                   0 non-null      float64
 11  DOB                      0 non-null      float64
 12  Joining Date             0 non-null      float64
dtypes: float64(7), int64(2), object(4)
memory usage: 566.4+ KB

In [ ]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         142111 non-null  object
 1   HR_Code           142111 non-null  object
 2   Outlet_Name       142111 non-null  object
 3   Gender            119557 non-null  object
 4   Religion          51131 non-null   object
 5   Monthly_Salary    142109 non-null  float64
 6   Credit_Limit      142109 non-null  float64
 7   Joining_Date      142088 non-null  datetime64[ns]
 8   Designation       138144 non-null  object
 9   IsRegisteredUser  142111 non-null  int64
 10  Customer_Name     142111 non-null  object
 11  Login_Id          3201 non-null    float64
 12  Registered_Date   3201 non-null    object
 13  isActive          142111 non-null  int64
 14  DOB               141990 non-null  object
 15  family_member     142003 non-null  float64
 16  Tenure            142111 non-null  int64
 17  Contact Number    139362 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(10)
memory usage: 19.5+ MB

In [ ]:
import pandas as pd

# Rename the 'Customer Code' column in df_angel to match 'Customer_Code' in merged_df1
df_angel = df_angel.rename(columns={'Customer_Code': 'APON_Code'})

# Now merge the two dataframes
merged_df_final = pd.merge(
    merged_df1,
    df_angel[['APON_Code']],  # Select only 'Customer_Code' from df_angel
    on='APON_Code',
    how='inner'  # Use 'inner' to only keep the matching rows
)

# Display the result
merged_df_final.head()

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0100000032,104517,Southern Garments Ltd.,Male,Islam,15000.0,5000.0,2014-02-02,Input man,1,Raju Islam,1.738517e+09,2024-09-14,1,1992-10-10 00:00:00.000,1.0,127,01738517041
1,AP0100000036,104973,Southern Garments Ltd.,Male,Islam,9000.0,3000.0,2015-06-04,Input man,1,Alomgir,1.321690e+09,2023-07-26,1,1995-04-27 00:00:00.000,1.0,111,01321689584
2,AP0100000037,104974,Southern Garments Ltd.,Male,Islam,9000.0,3000.0,2015-06-04,Input man,1,Zahidul Islam,1.725257e+09,2024-09-24,1,1997-01-11 00:00:00.000,1.0,111,01725257494
3,AP0100000045,105823,Southern Garments Ltd.,Male,Islam,9000.0,3000.0,2018-01-02,Gr.Writter man,1,Soleman,1.305083e+09,2024-09-01,1,1996-01-01 00:00:00.000,1.0,80,01305082749
4,AP0100000047,105926,Southern Garments Ltd.,Male,Islam,9000.0,3000.0,2018-04-03,Gr. Bundle man,1,Bappy Sarker,1.737323e+09,2024-09-15,1,1989-01-06 00:00:00.000,1.0,77,01737322792

In [ ]:
df_angel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5576 entries, 0 to 5575
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Shop name                5576 non-null   object
 1   APON_Code                5576 non-null   object
 2   Customer Name            5576 non-null   object
 3   HR Code                  5169 non-null   object
 4   L4M SS Count             5576 non-null   int64
 5   Purchase amount          5576 non-null   float64
 6   Tenure                   0 non-null      float64
 7   Mobile Number            0 non-null      float64
 8   Present address          0 non-null      float64
 9   Number of family Member  5576 non-null   int64
 10  Gender                   0 non-null      float64
 11  DOB                      0 non-null      float64
 12  Joining Date             0 non-null      float64
dtypes: float64(7), int64(2), object(4)
memory usage: 566.4+ KB

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         142111 non-null  object
 1   HR_Code           142111 non-null  object
 2   Outlet_Name       142111 non-null  object
 3   Gender            119557 non-null  object
 4   Religion          51131 non-null   object
 5   Monthly_Salary    142109 non-null  float64
 6   Credit_Limit      142109 non-null  float64
 7   Joining_Date      142088 non-null  datetime64[ns]
 8   Designation       138144 non-null  object
 9   IsRegisteredUser  142111 non-null  int64
 10  Customer_Name     142111 non-null  object
 11  Login_Id          3201 non-null    float64
 12  Registered_Date   3201 non-null    object
 13  isActive          142111 non-null  int64
 14  DOB               141990 non-null  object
 15  family_member     142003 non-null  float64
 16  Tenure            142111 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 18.4+ MB

In [ ]:
merged_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5718 entries, 0 to 5717
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   APON_Code         5718 non-null   object
 1   HR_Code           5718 non-null   object
 2   Outlet_Name       5718 non-null   object
 3   Gender            4276 non-null   object
 4   Religion          2080 non-null   object
 5   Monthly_Salary    5718 non-null   float64
 6   Credit_Limit      5718 non-null   float64
 7   Joining_Date      5718 non-null   datetime64[ns]
 8   Designation       5586 non-null   object
 9   IsRegisteredUser  5718 non-null   int64
 10  Customer_Name     5718 non-null   object
 11  Login_Id          1102 non-null   float64
 12  Registered_Date   1102 non-null   object
 13  isActive          5718 non-null   int64
 14  DOB               5718 non-null   object
 15  family_member     5718 non-null   float64
 16  Tenure            5718 non-null   int64
 17  Contact Number    5718 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(3), object(10)
memory usage: 804.2+ KB

In [ ]:
df_angel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5576 entries, 0 to 5575
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Shop name                5576 non-null   object
 1   APON_Code                5576 non-null   object
 2   Customer Name            5576 non-null   object
 3   HR Code                  5169 non-null   object
 4   L4M SS Count             5576 non-null   int64
 5   Purchase amount          5576 non-null   float64
 6   Tenure                   0 non-null      float64
 7   Mobile Number            0 non-null      float64
 8   Present address          0 non-null      float64
 9   Number of family Member  5576 non-null   int64
 10  Gender                   0 non-null      float64
 11  DOB                      0 non-null      float64
 12  Joining Date             0 non-null      float64
dtypes: float64(7), int64(2), object(4)
memory usage: 566.4+ KB

In [ ]:
# Now perform a left join to keep all rows from df_angel
merged_df_final = pd.merge(
    df_angel[['APON_Code']],  # Select only 'APON_Code' from df_angel
    merged_df1,               # Include all columns from merged_df1
    on='APON_Code',
    how='left'                # Use 'left' to keep all rows from df_angel
)

# Display the result
merged_df_final.head()

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0030000001,10011,Renaissance Apparels Ltd.,Male,Islam,94050.0,31350.0,2007-02-24,"Sr. Manager, HR, Admin & Com",0.0,Jakir Hossain Bhuan,NaN,NaN,1.0,1968-01-01 00:00:00.000,1.0,211.0,03734008502
1,AP0030000002,10018,Renaissance Apparels Ltd.,Male,Islam,43110.0,14370.0,2007-05-01,"Asst. Manager, Admin",0.0,Md. Guljar Hossain Chowdury,NaN,NaN,1.0,1972-05-02 00:00:00.000,1.0,208.0,03734011343
2,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1964-01-09 00:00:00.000,1.0,236.0,03734011378
3,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1989-04-10 00:00:00.000,1.0,236.0,03734011378
4,AP0030000006,10058,Renaissance Apparels Ltd.,Female,Islam,36360.0,12120.0,2011-10-01,Sr. Executive Welfare,1.0,Mahfuza Akter,1.684701e+09,2024-09-28,1.0,1986-01-21 00:00:00.000,1.0,155.0,01684700985

In [ ]:
merged_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5972 entries, 0 to 5971
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   APON_Code         5972 non-null   object
 1   HR_Code           5718 non-null   object
 2   Outlet_Name       5718 non-null   object
 3   Gender            4276 non-null   object
 4   Religion          2080 non-null   object
 5   Monthly_Salary    5718 non-null   float64
 6   Credit_Limit      5718 non-null   float64
 7   Joining_Date      5718 non-null   datetime64[ns]
 8   Designation       5586 non-null   object
 9   IsRegisteredUser  5718 non-null   float64
 10  Customer_Name     5718 non-null   object
 11  Login_Id          1102 non-null   float64
 12  Registered_Date   1102 non-null   object
 13  isActive          5718 non-null   float64
 14  DOB               5718 non-null   object
 15  family_member     5718 non-null   float64
 16  Tenure            5718 non-null   float64
 17  Contact Number    5718 non-null   object
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 839.9+ KB

In [ ]:
# Remove duplicates in df_angel if there are any
df_angel = df_angel.drop_duplicates(subset=['APON_Code'])

In [ ]:
# Perform an inner merge and then drop any duplicates
merged_df_final = pd.merge(
    df_angel[['APON_Code']],  # Select only 'APON_Code' from df_angel
    merged_df1,               # Merge with merged_df1
    on='APON_Code',
    how='inner'               # Use 'inner' join to only keep matching rows
)

# Drop any potential duplicates
merged_df_final = merged_df_final.drop_duplicates(subset=['APON_Code'])

# Display the result
print(len(merged_df_final))  # Should be 5576 rows
merged_df_final.head()

5322

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0030000001,10011,Renaissance Apparels Ltd.,Male,Islam,94050.0,31350.0,2007-02-24,"Sr. Manager, HR, Admin & Com",0,Jakir Hossain Bhuan,NaN,NaN,1,1968-01-01 00:00:00.000,1.0,211,03734008502
1,AP0030000002,10018,Renaissance Apparels Ltd.,Male,Islam,43110.0,14370.0,2007-05-01,"Asst. Manager, Admin",0,Md. Guljar Hossain Chowdury,NaN,NaN,1,1972-05-02 00:00:00.000,1.0,208,03734011343
2,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0,Mohammad Sanowarul Islam,NaN,NaN,1,1964-01-09 00:00:00.000,1.0,236,03734011378
4,AP0030000006,10058,Renaissance Apparels Ltd.,Female,Islam,36360.0,12120.0,2011-10-01,Sr. Executive Welfare,1,Mahfuza Akter,1.684701e+09,2024-09-28,1,1986-01-21 00:00:00.000,1.0,155,01684700985
5,AP0030000008,10062,Renaissance Apparels Ltd.,Female,Islam,20790.0,6930.0,2012-09-19,Nurse,1,Mst. Suma Khatun,1.755265e+09,2024-09-15,1,1995-03-06 00:00:00.000,1.0,144,01755265191

In [ ]:
df_angel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5576 entries, 0 to 5575
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Shop name                5576 non-null   object
 1   APON_Code                5576 non-null   object
 2   Customer Name            5576 non-null   object
 3   HR Code                  5169 non-null   object
 4   L4M SS Count             5576 non-null   int64
 5   Purchase amount          5576 non-null   float64
 6   Tenure                   0 non-null      float64
 7   Mobile Number            0 non-null      float64
 8   Present address          0 non-null      float64
 9   Number of family Member  5576 non-null   int64
 10  Gender                   0 non-null      float64
 11  DOB                      0 non-null      float64
 12  Joining Date             0 non-null      float64
dtypes: float64(7), int64(2), object(4)
memory usage: 566.4+ KB

In [ ]:
# Perform a left join to keep all rows from df_angel
merged_df_final = pd.merge(
    df_angel[['APON_Code']],  # Select only 'APON_Code' from df_angel
    merged_df1,               # Include all columns from merged_df1
    on='APON_Code',
    how='left'                # Use 'left' to keep all rows from df_angel
)

# Display the result
print(len(merged_df_final))  # Should be 5576 rows
merged_df_final.head()

5972

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0030000001,10011,Renaissance Apparels Ltd.,Male,Islam,94050.0,31350.0,2007-02-24,"Sr. Manager, HR, Admin & Com",0.0,Jakir Hossain Bhuan,NaN,NaN,1.0,1968-01-01 00:00:00.000,1.0,211.0,03734008502
1,AP0030000002,10018,Renaissance Apparels Ltd.,Male,Islam,43110.0,14370.0,2007-05-01,"Asst. Manager, Admin",0.0,Md. Guljar Hossain Chowdury,NaN,NaN,1.0,1972-05-02 00:00:00.000,1.0,208.0,03734011343
2,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1964-01-09 00:00:00.000,1.0,236.0,03734011378
3,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1989-04-10 00:00:00.000,1.0,236.0,03734011378
4,AP0030000006,10058,Renaissance Apparels Ltd.,Female,Islam,36360.0,12120.0,2011-10-01,Sr. Executive Welfare,1.0,Mahfuza Akter,1.684701e+09,2024-09-28,1.0,1986-01-21 00:00:00.000,1.0,155.0,01684700985

In [ ]:
# Now perform a left join, using the cleaned version of merged_df1
merged_df_final = pd.merge(
    df_angel[['APON_Code']],   # Select only 'APON_Code' from df_angel
    merged_df1_cleaned,        # Use the cleaned df without duplicates
    on='APON_Code',
    how='left'                 # Use 'left' to keep all rows from df_angel
)

# Check the number of rows in the final dataframe
print(len(merged_df_final))  # Should be exactly 5576 rows

# Display the result
merged_df_final.head()

5576

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0030000001,10011,Renaissance Apparels Ltd.,Male,Islam,94050.0,31350.0,2007-02-24,"Sr. Manager, HR, Admin & Com",0.0,Jakir Hossain Bhuan,NaN,NaN,1.0,1968-01-01 00:00:00.000,1.0,211.0,03734008502
1,AP0030000002,10018,Renaissance Apparels Ltd.,Male,Islam,43110.0,14370.0,2007-05-01,"Asst. Manager, Admin",0.0,Md. Guljar Hossain Chowdury,NaN,NaN,1.0,1972-05-02 00:00:00.000,1.0,208.0,03734011343
2,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1964-01-09 00:00:00.000,1.0,236.0,03734011378
3,AP0030000006,10058,Renaissance Apparels Ltd.,Female,Islam,36360.0,12120.0,2011-10-01,Sr. Executive Welfare,1.0,Mahfuza Akter,1.684701e+09,2024-09-28,1.0,1986-01-21 00:00:00.000,1.0,155.0,01684700985
4,AP0030000008,10062,Renaissance Apparels Ltd.,Female,Islam,20790.0,6930.0,2012-09-19,Nurse,1.0,Mst. Suma Khatun,1.755265e+09,2024-09-15,1.0,1995-03-06 00:00:00.000,1.0,144.0,01755265191

In [ ]:
# Remove duplicates from merged_df1 based on APON_Code
merged_df1_cleaned = merged_df1.drop_duplicates(subset=['APON_Code'])

In [ ]:
merged_df_final.to_excel('/content/Angel_october.xlsx', index=False)

In [ ]:
df_non= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/non_active_cus.csv')

<ipython-input-53-0f3377e27b0b>:1: DtypeWarning: Columns (3,7,8,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_non= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/non_active_cus.csv')

In [ ]:
df_null= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/null.csv')

In [ ]:
df_non.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388248 entries, 0 to 388247
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Outlet                   388248 non-null  object
 1   APON Code                388248 non-null  object
 2   Name                     388248 non-null  object
 3   HR Code                  388247 non-null  object
 4   Marital Status           388248 non-null  int64
 5   Number of Family Member  388248 non-null  int64
 6   Address                  388206 non-null  object
 7   Contact Number           368894 non-null  object
 8   Email                    653 non-null     object
 9   Gender                   346494 non-null  object
 10  NID                      17907 non-null   object
 11  DOB                      175 non-null     object
 12  Department               363270 non-null  object
 13  Designation              382915 non-null  object
 14  Joining Date             388244 non-null  object
 15  Gross Salary             388248 non-null  float64
 16  Credit Limit             388133 non-null  float64
 17  isActive                 388248 non-null  int64
 18  dteLastActionDateTime    388248 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 56.3+ MB

In [ ]:
df_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer Code  254 non-null    object
dtypes: object(1)
memory usage: 2.1+ KB

In [ ]:
df_null= df_null.rename(columns={'Customer Code': 'APON Code'})

In [ ]:
df_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   APON Code  254 non-null    object
dtypes: object(1)
memory usage: 2.1+ KB

In [ ]:
df_non.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388248 entries, 0 to 388247
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Outlet                   388248 non-null  object
 1   APON Code                388248 non-null  object
 2   Name                     388248 non-null  object
 3   HR Code                  388247 non-null  object
 4   Marital Status           388248 non-null  int64
 5   Number of Family Member  388248 non-null  int64
 6   Address                  388206 non-null  object
 7   Contact Number           368894 non-null  object
 8   Email                    653 non-null     object
 9   Gender                   346494 non-null  object
 10  NID                      17907 non-null   object
 11  DOB                      175 non-null     object
 12  Department               363270 non-null  object
 13  Designation              382915 non-null  object
 14  Joining Date             388244 non-null  object
 15  Gross Salary             388248 non-null  float64
 16  Credit Limit             388133 non-null  float64
 17  isActive                 388248 non-null  int64
 18  dteLastActionDateTime    388248 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 56.3+ MB

In [ ]:
import pandas as pd

# Perform a left join on 'APON Code', keeping all rows from df_null
merged_df = pd.merge(
    df_null,            # The dataframe with all rows to keep (df_null)
    df_non,             # The dataframe to merge with (df_non)
    on='APON Code',     # Merge on the 'APON Code' column
    how='left'          # Perform a left join to keep all rows from df_null
)

# Display the result
merged_df.head()

# Check the number of rows to ensure that all rows from df_null are retained
print(len(merged_df))

254

In [ ]:
merged_df.head(10)

,APON Code,Outlet,Name,HR Code,Marital Status,Number of Family Member,Address,Contact Number,Email,Gender,NID,DOB,Department,Designation,Joining Date,Gross Salary,Credit Limit,isActive,dteLastActionDateTime
0,AP0030000055,Renaissance Apparels Ltd.,Md. Al Amin,10688,1,1,IslampurGazipurGazipur,1981403810,NaN,Male,19968927703100068,NaN,Store,Loader,2016-07-20 00:00:00.000,0.0,3840.0,0,2022-01-03 21:38:58.783
1,AP0030000065,Renaissance Apparels Ltd.,Md. Zahangir Alam,11289,1,1,NawjoreNawjoreGazipur Sadar,1941719153,NaN,Male,8913743786507,NaN,Cutting Staff,Machine Cutterman,2012-02-14 00:00:00.000,0.0,7076.7,0,2022-01-03 21:38:58.783
2,AP0030000067,Renaissance Apparels Ltd.,Md. Ashiqur Rahman,11311,1,1,IslampurIslampurGazipur,3734026991,NaN,Male,8515865831937,NaN,Cutting Staff,"Sr.Supervisor, Heatseal",2012-04-17 00:00:00.000,0.0,8160.0,0,2022-01-03 21:38:58.783
3,AP0030000312,Renaissance Apparels Ltd.,Md. Jashim,1301688,1,1,VograVograGazipur,1721565968,NaN,Male,19960410979002999,NaN,Sewing Operator,Sr.Operator,2016-03-02 00:00:00.000,0.0,4510.5,0,2022-01-03 21:38:58.783
4,AP0030000353,Renaissance Apparels Ltd.,Md. Nur Alam,11539,1,1,NawzoreNawzoreGazipur sadar,1404879695,NaN,Male,6112385891391,NaN,Cutting Staff,Cutting Supervisor,2016-11-17 00:00:00.000,0.0,8993.1,0,2022-01-03 21:38:58.783
5,AP0030000432,Renaissance Apparels Ltd.,Mst. Taslima Khatun,19771,1,1,MollaparaMollaparaGazipur Sadar,1304323559,NaN,Female,8819421827989,NaN,Sewing,ASMO,2017-05-07 00:00:00.000,0.0,3750.0,0,2022-01-03 21:38:58.783
6,AP0030000489,Renaissance Apparels Ltd.,Md. Abu Nayem,25409,1,1,VograVograGazipur Sadar,1902356919,NaN,Male,3759632460,NaN,Finishing,Packer,2017-10-11 00:00:00.000,0.0,6780.0,0,2022-01-03 21:38:58.783
7,AP0030000530,Renaissance Apparels Ltd.,Mst. Morzina Khatun,19959,1,1,NawjoreNawjoreGazipur,1918884644,NaN,Female,19946128308033621,NaN,Sewing Operator,Gr. Operator,2018-03-03 00:00:00.000,0.0,4065.0,0,2022-01-03 21:38:58.783
8,AP0030000547,Renaissance Apparels Ltd.,Md. Rezuanur Rahman,11662,1,1,IslampurIslampurGazipur Sadar,1987665609,NaN,Male,19918913712000084,NaN,Cutting,Gr. Bundling Man,2018-06-24 00:00:00.000,0.0,4065.0,0,2022-01-03 21:38:58.783
9,AP0030000612,Renaissance Apparels Ltd.,Md. Alam Miah,10741,1,1,MollaparaMollaparaGazipur,1989746360,NaN,Male,3918573996381,NaN,Store,Loader,2018-10-14 00:00:00.000,0.0,3840.0,0,2022-01-03 21:38:58.783

In [ ]:
merged_df.to_excel('/content/Angel_october_null.xlsx', index=False)

In [ ]:
merged_df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         142111 non-null  object
 1   HR_Code           142111 non-null  object
 2   Outlet_Name       142111 non-null  object
 3   Gender            119557 non-null  object
 4   Religion          51131 non-null   object
 5   Monthly_Salary    142111 non-null  float64
 6   Credit_Limit      142109 non-null  float64
 7   Joining_Date      142088 non-null  object
 8   Designation       138144 non-null  object
 9   IsRegisteredUser  142111 non-null  int64
 10  Customer_Name     142111 non-null  object
 11  Login_Id          3201 non-null    float64
 12  Registered_Date   3201 non-null    object
 13  isActive          142111 non-null  int64
 14  DOB               141990 non-null  object
 15  family_member     142003 non-null  float64
dtypes: float64(4), int64(2), object(10)
memory usage: 17.3+ MB

In [ ]:
df_sale = pd.read_csv('/content/drive/My Drive/ops_segmentation-main/sale_data.csv')

In [ ]:
df_sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   APON_Code  254 non-null    object
dtypes: object(1)
memory usage: 2.1+ KB

In [ ]:
df_sale= df_null.rename(columns={'APON Code': 'APON_Code'})

In [ ]:
import pandas as pd
from datetime import datetime

# First, ensure that the 'Joining_Date' column is in datetime format
merged_df5['Joining_Date'] = pd.to_datetime(merged_df5['Joining_Date'], errors='coerce')

# Get today's date
today = pd.Timestamp(datetime.today())

# Calculate the 'Tenure' as the difference between today and 'Joining_Date' in months
merged_df5['Tenure'] = (today.year - merged_df5['Joining_Date'].dt.year) * 12 + (today.month - merged_df5['Joining_Date'].dt.month)

# Drop duplicates based on the 'APON_Code' column
merged_df5_cleaned = merged_df5.drop_duplicates(subset=['APON_Code'])

# Display the result
merged_df5_cleaned.head()

# Check the number of rows after cleaning duplicates
print(len(merged_df5_cleaned))

130401

In [ ]:
import pandas as pd

# First, perform a left join to find rows from merged_df5 that are NOT in df_sale
merged_result = pd.merge(
    merged_df5_cleaned,             # The main dataframe (merged_df5)
    df_sale,                # The dataframe to merge with (df_sale)
    on='APON_Code',         # Merge on the 'APON_Code' column
    how='left',             # Perform a left join to keep all rows from merged_df5
    indicator=True          # Add a column to indicate where each row came from
)

# Filter rows that are only in merged_df5 and not in df_sale, and Tenure >= 60
final_result = merged_result[(merged_result['_merge'] == 'left_only') & (merged_result['Tenure'] >= 60)]

# Drop the '_merge' column as it's no longer needed
final_result = final_result.drop(columns=['_merge'])

# Display the result
final_result.head()

# Check the number of rows in the final result
print(len(final_result))

52454

In [ ]:
final_result.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.0,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1,1972-03-15 00:00:00.000,0.0,303.0
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,0.0,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1,1968-12-31 00:00:00.000,1.0,220.0
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,0.0,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1,1981-06-10 00:00:00.000,1.0,220.0
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,0.0,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1,1978-11-10 00:00:00.000,1.0,219.0
5,AP0130000005,0021,Comfit Composite Ltd.,Male,Islam,0.0,9526.05,2006-07-15,Asstt. Manager,0,Md. Saifuddin Haider,NaN,NaN,1,1980-10-12 00:00:00.000,1.0,218.0

In [ ]:
final_result.to_excel('/content/Angel+_october.xlsx', index=False)

In [ ]:
import pandas as pd

# Rename the 'APON Code' column in df3 to 'APON_Code'
df3 = df3.rename(columns={'APON Code': 'APON_Code'})

# Now perform the merge
merged_df10 = pd.merge(
    final_result,
    df3[['APON_Code', 'Contact Number']],
    on='APON_Code',
    how='left'
)

In [ ]:
merged_df10.to_excel('/content/Angel+.xlsx', index=False)

In [ ]:
merged_df10.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.0,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1,1972-03-15 00:00:00.000,0.0,303.0,01884551165
1,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,0.0,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1,1968-12-31 00:00:00.000,1.0,220.0,01713432236
2,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,0.0,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1,1981-06-10 00:00:00.000,1.0,220.0,01718415560
3,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,0.0,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1,1978-11-10 00:00:00.000,1.0,219.0,01911085098
4,AP0130000005,0021,Comfit Composite Ltd.,Male,Islam,0.0,9526.05,2006-07-15,Asstt. Manager,0,Md. Saifuddin Haider,NaN,NaN,1,1980-10-12 00:00:00.000,1.0,218.0,01912371713

In [ ]:
df_angel_p= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/Angel+_code.csv')

In [ ]:
# Now perform the merge
merged_df11 = pd.merge(
    df_angel_p,
    merged_df10,
    on='APON_Code',
    how='left'
)

In [ ]:
merged_df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8511 entries, 0 to 8510
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   APON_Code         8511 non-null   object
 1   HR_Code           8511 non-null   object
 2   Outlet_Name       8511 non-null   object
 3   Gender            6210 non-null   object
 4   Religion          2136 non-null   object
 5   Monthly_Salary    8511 non-null   float64
 6   Credit_Limit      8511 non-null   float64
 7   Joining_Date      8511 non-null   datetime64[ns]
 8   Designation       8442 non-null   object
 9   IsRegisteredUser  8511 non-null   int64
 10  Customer_Name     8511 non-null   object
 11  Login_Id          649 non-null    float64
 12  Registered_Date   649 non-null    object
 13  isActive          8511 non-null   int64
 14  DOB               8511 non-null   object
 15  family_member     8511 non-null   float64
 16  Tenure            8511 non-null   float64
 17  Contact Number    8511 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(10)
memory usage: 1.2+ MB

In [ ]:
merged_df11.to_excel('/content/Angel+.xlsx', index=False)

In [13]:
 merged_df5.head(10)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.0,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1,1972-03-15 00:00:00.000,0.0,304
1,AP0180002698,0008592,Green Smart Shirts Ltd.,Male,Islam,17000.0,0.00,2021-09-13,Cutter,1,ARIFA KHATUN,1.911634e+09,2024-04-25,1,NaN,NaN,37
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,0.0,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1,1968-12-31 00:00:00.000,1.0,221
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,0.0,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1,1981-06-10 00:00:00.000,1.0,221
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,0.0,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1,1978-11-10 00:00:00.000,1.0,220
5,AP0130000005,0021,Comfit Composite Ltd.,Male,Islam,0.0,9526.05,2006-07-15,Asstt. Manager,0,Md. Saifuddin Haider,NaN,NaN,1,1980-10-12 00:00:00.000,1.0,219
6,AP0130000006,0024,Comfit Composite Ltd.,Male,Islam,0.0,10769.40,2006-07-16,Supervisor,0,Jahirul Islam,NaN,NaN,1,1984-10-05 00:00:00.000,1.0,219
7,AP0130000006,0024,Comfit Composite Ltd.,Male,Islam,0.0,10769.40,2006-07-16,Supervisor,0,Jahirul Islam,NaN,NaN,1,1991-05-25 00:00:00.000,1.0,219
8,AP0130000007,0031,Comfit Composite Ltd.,Male,Islam,0.0,12427.65,2006-08-01,Supervisor,0,Abdul Hamid,NaN,NaN,1,1971-06-30 00:00:00.000,1.0,218
9,AP0130000008,0042,Comfit Composite Ltd.,Male,Islam,0.0,10134.45,2006-08-16,Technician,0,Monsur Rahman,NaN,NaN,1,1979-02-06 00:00:00.000,1.0,218

In [14]:
merged_df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         142111 non-null  object
 1   HR_Code           142111 non-null  object
 2   Outlet_Name       142111 non-null  object
 3   Gender            119557 non-null  object
 4   Religion          51131 non-null   object
 5   Monthly_Salary    142111 non-null  float64
 6   Credit_Limit      142109 non-null  float64
 7   Joining_Date      142088 non-null  datetime64[ns]
 8   Designation       138144 non-null  object
 9   IsRegisteredUser  142111 non-null  int64
 10  Customer_Name     142111 non-null  object
 11  Login_Id          3201 non-null    float64
 12  Registered_Date   3201 non-null    object
 13  isActive          142111 non-null  int64
 14  DOB               141990 non-null  object
 15  family_member     142003 non-null  float64
 16  Tenure            142111 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 18.4+ MB

In [15]:
df_cont= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/continental.csv')

In [16]:
df_cont.head(5)

      APON_Code
0  AP0200507924
1  AP0200507925
2  AP0200507927
3  AP0200507930
4  AP0200507932

In [20]:
# Now perform the merge
merged_df_cont = pd.merge(
    df_cont,
    merged_df5,
    on='APON_Code',
    how='left'
)

In [21]:
merged_df_cont.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   APON_Code         566 non-null    object
 1   HR_Code           272 non-null    object
 2   Outlet_Name       272 non-null    object
 3   Gender            269 non-null    object
 4   Religion          0 non-null      object
 5   Monthly_Salary    272 non-null    float64
 6   Credit_Limit      272 non-null    float64
 7   Joining_Date      272 non-null    datetime64[ns]
 8   Designation       272 non-null    object
 9   IsRegisteredUser  272 non-null    float64
 10  Customer_Name     272 non-null    object
 11  Login_Id          0 non-null      float64
 12  Registered_Date   0 non-null      object
 13  isActive          272 non-null    float64
 14  DOB               272 non-null    object
 15  family_member     272 non-null    float64
 16  Tenure            272 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(9)
memory usage: 75.3+ KB

In [22]:
df_cont_info= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/cont.csv')

In [27]:
import pandas as pd
from datetime import datetime

# Assuming merged_df is your dataframe and Joining_Date is in string format, first convert it to datetime if needed
df_cont_info['Joining Date'] = pd.to_datetime(df_cont_info['Joining Date'], errors='coerce')

# Get today's date
today = pd.Timestamp(datetime.today())

# Calculate the difference in months and create a new column called 'Tenure'
df_cont_info['Tenure'] = (today.year - df_cont_info['Joining Date'].dt.year) * 12 + (today.month - df_cont_info['Joining Date'].dt.month)

# Fill NaN values with 0 (in case of missing Joining_Date values)
df_cont_info['Tenure'] = df_cont_info['Tenure'].fillna(0).astype(int)

In [28]:
df_cont_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2241 entries, 0 to 2240
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Outlet                   2241 non-null   object
 1   APON Code                2241 non-null   object
 2   Name                     2241 non-null   object
 3   HR Code                  2241 non-null   int64
 4   Marital Status           2241 non-null   int64
 5   Number of Family Member  2241 non-null   int64
 6   Address                  2241 non-null   object
 7   Contact Number           2241 non-null   int64
 8   Email                    0 non-null      float64
 9   Gender                   2240 non-null   object
 10  NID                      1 non-null      float64
 11  DOB                      0 non-null      float64
 12  Department               2193 non-null   object
 13  Designation              2240 non-null   object
 14  Joining Date             2241 non-null   datetime64[ns]
 15  Gross Salary             2241 non-null   float64
 16  Credit Limit             2240 non-null   float64
 17  isActive                 2241 non-null   int64
 18  dteLastActionDateTime    2241 non-null   object
 19  Tenure                   2241 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(6), object(8)
memory usage: 350.3+ KB

In [29]:
df_cont_info = df_cont_info.rename(columns={'APON Code': 'APON_Code'})

In [30]:
# Now perform the merge
continental = pd.merge(
    df_cont,
    df_cont_info,
    on='APON_Code',
    how='left'
)

In [31]:
continental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   APON_Code                566 non-null    object
 1   Outlet                   0 non-null      object
 2   Name                     0 non-null      object
 3   HR Code                  0 non-null      float64
 4   Marital Status           0 non-null      float64
 5   Number of Family Member  0 non-null      float64
 6   Address                  0 non-null      object
 7   Contact Number           0 non-null      float64
 8   Email                    0 non-null      float64
 9   Gender                   0 non-null      object
 10  NID                      0 non-null      float64
 11  DOB                      0 non-null      float64
 12  Department               0 non-null      object
 13  Designation              0 non-null      object
 14  Joining Date             0 non-null      datetime64[ns]
 15  Gross Salary             0 non-null      float64
 16  Credit Limit             0 non-null      float64
 17  isActive                 0 non-null      float64
 18  dteLastActionDateTime    0 non-null      object
 19  Tenure                   0 non-null      float64
dtypes: datetime64[ns](1), float64(11), object(8)
memory usage: 88.6+ KB

In [32]:
df_cont_info.head(10)

,Outlet,APON_Code,Name,HR Code,Marital Status,Number of Family Member,Address,Contact Number,Email,Gender,NID,DOB,Department,Designation,Joining Date,Gross Salary,Credit Limit,isActive,dteLastActionDateTime,Tenure
0,Continental Garments Ind. (Pvt.) Ltd.,AP0200061131,Continental Corporate,99767,5,2,"8, Dewan Idris Road, Boro Rangamatia, Ashulia,...",1917021279,NaN,NaN,0.0,NaN,Admin,Hr-Admin,2005-10-27,1200000.0,NaN,1,2024-02-27 10:13:05.477,228
1,Continental Garments Ind. (Pvt.) Ltd.,AP0200965799,Apon Snacks Sales,1234,0,1,"Apon HQ, Baridhara",1402666847,NaN,Male,NaN,NaN,NaN,NaN,2017-07-04,0.0,0.0,1,2024-10-01 14:31:22.703,87
2,Continental Garments Ind. (Pvt.) Ltd.,AP0200965843,TAZRUN BEGUM,120244,0,1,"Zirabo, Ashulia",1982829733,NaN,Female,NaN,NaN,NaN,Asst. Operator,2012-11-03,12500.0,3500.0,1,2024-10-01 14:31:22.703,143
3,Continental Garments Ind. (Pvt.) Ltd.,AP0200965842,TAIVONNESA,580152,0,1,"Zirabo, Ashulia",1950015805,NaN,Female,NaN,NaN,NaN,Fin. Asst.,2016-06-11,12500.0,3500.0,1,2024-10-01 14:31:22.703,100
4,Continental Garments Ind. (Pvt.) Ltd.,AP0200965818,MERINA,580173,0,1,"Zirabo, Ashulia",1982339388,NaN,Female,NaN,NaN,NaN,Fin. Asst.,2018-03-14,12500.0,3500.0,1,2024-10-01 14:31:22.703,79
5,Continental Garments Ind. (Pvt.) Ltd.,AP0200965806,BILKIS BEGUM,580202,0,1,"Zirabo, Ashulia",1906088053,NaN,Female,NaN,NaN,NaN,Fin. Asst.,2019-09-03,12500.0,3500.0,1,2024-10-01 14:31:22.703,61
6,Continental Garments Ind. (Pvt.) Ltd.,AP0200965822,MOTAHARA BEGUM,620306,0,1,"Zirabo, Ashulia",1706722485,NaN,Female,NaN,NaN,NaN,Asst. Operator,2019-06-15,12500.0,3500.0,1,2024-10-01 14:31:22.703,64
7,Continental Garments Ind. (Pvt.) Ltd.,AP0200965813,KOSILA RANI,680108,0,1,"Zirabo, Ashulia",1754039568,NaN,Male,NaN,NaN,NaN,Fin. Asst.,2013-03-13,12500.0,3500.0,1,2024-10-01 14:31:22.703,139
8,Continental Garments Ind. (Pvt.) Ltd.,AP0200965821,MORZINA,1320218,0,1,"Zirabo, Ashulia",1759595096,NaN,Female,NaN,NaN,NaN,Asst. Operator,2016-10-10,12500.0,3500.0,1,2024-10-01 14:31:22.703,96
9,Continental Garments Ind. (Pvt.) Ltd.,AP0200965819,MONOWARA,1320221,0,1,"Zirabo, Ashulia",1714962245,NaN,Female,NaN,NaN,NaN,Asst. Operator,2016-09-11,12500.0,3500.0,1,2024-10-01 14:31:22.703,97

In [33]:
continental.head(5)

,APON_Code,Outlet,Name,HR Code,Marital Status,Number of Family Member,Address,Contact Number,Email,Gender,NID,DOB,Department,Designation,Joining Date,Gross Salary,Credit Limit,isActive,dteLastActionDateTime,Tenure
0,AP0200507924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,AP0200507925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2,AP0200507927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3,AP0200507930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,AP0200507932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [36]:
df_c= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/c_c.csv')

In [37]:
df_c.head(5)

,Outlet,APON Code,Name,HR Code,Marital Status,Number of Family Member,Address,Contact Number,Email,Gender,NID,DOB,Department,Designation,Joining Date,Gross Salary,Credit Limit,isActive,dteLastActionDateTime
0,Continental Garments Ind. (Pvt.) Ltd.,AP0200000001,JAINAL ABEDIN,00000003,1,1,Bangladesh,1.724149e+09,NaN,Male,NaN,NaN,ADMIN,Care Taker,2005-09-12 00:00:00.000,21310.00,0.0,0,2021-12-18 00:00:00.000
1,Continental Garments Ind. (Pvt.) Ltd.,AP0200000002,OSMAN,000006,1,1,Bangladesh,1.620177e+09,NaN,Male,NaN,NaN,ADMIN,Canteen Boy,2006-04-16 00:00:00.000,16708.00,7600.0,0,2021-12-18 00:00:00.000
2,Continental Garments Ind. (Pvt.) Ltd.,AP0200000003,NABIR HOSSAIN,000007,1,1,Bangladesh,1.732194e+09,NaN,Male,NaN,NaN,MAINTENANCE,Store Keeper,2006-04-16 00:00:00.000,18270.01,8153.2,0,2021-12-18 00:00:00.000
3,Continental Garments Ind. (Pvt.) Ltd.,AP0200000004,ABDUL ROUF,00000017,1,1,Bangladesh,1.771596e+09,NaN,Male,NaN,NaN,ADMIN,Security Guard,2006-04-22 00:00:00.000,11690.00,5079.6,0,2021-12-18 00:00:00.000
4,Continental Garments Ind. (Pvt.) Ltd.,AP0200000005,SHANTI RANI,000025,1,1,Bangladesh,1.922024e+09,NaN,Female,NaN,NaN,ADMIN,Cleaner,2006-04-01 00:00:00.000,9044.00,3912.8,0,2021-12-18 00:00:00.000

In [38]:
import pandas as pd
from datetime import datetime

# Assuming merged_df is your dataframe and Joining_Date is in string format, first convert it to datetime if needed
df_c['Joining Date'] = pd.to_datetime(df_c['Joining Date'], errors='coerce')

# Get today's date
today = pd.Timestamp(datetime.today())

# Calculate the difference in months and create a new column called 'Tenure'
df_c['Tenure'] = (today.year - df_c['Joining Date'].dt.year) * 12 + (today.month - df_c['Joining Date'].dt.month)

# Fill NaN values with 0 (in case of missing Joining_Date values)
df_c['Tenure'] = df_c['Tenure'].fillna(0).astype(int)

In [39]:
df_c= df_c.rename(columns={'APON Code': 'APON_Code'})

In [40]:
# Now perform the merge
continenta_new = pd.merge(
    df_cont,
    df_c,
    on='APON_Code',
    how='left'
)

In [42]:
continenta_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   APON_Code                566 non-null    object
 1   Outlet                   566 non-null    object
 2   Name                     566 non-null    object
 3   HR Code                  566 non-null    object
 4   Marital Status           566 non-null    int64
 5   Number of Family Member  566 non-null    int64
 6   Address                  566 non-null    object
 7   Contact Number           566 non-null    float64
 8   Email                    0 non-null      float64
 9   Gender                   277 non-null    object
 10  NID                      0 non-null      float64
 11  DOB                      0 non-null      object
 12  Department               566 non-null    object
 13  Designation              566 non-null    object
 14  Joining Date             566 non-null    datetime64[ns]
 15  Gross Salary             566 non-null    float64
 16  Credit Limit             566 non-null    float64
 17  isActive                 566 non-null    int64
 18  dteLastActionDateTime    566 non-null    object
 19  Tenure                   566 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(10)
memory usage: 88.6+ KB

In [43]:
continenta_new.to_excel('/content/continental.xlsx', index=False)